body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background-color: aliceblue;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    padding-bottom: 100px;
}
h1   {
    font-size: 100px;
    text-align: center;
    font-weight: 100;
    font-style: Helvetica;
    margin-top: 140px;
    color: lightpink;
}

input {
    padding: 16px 16px 16px 60px;
    position: relative;
    flex: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    width: 100%;
    color: silver;
    box-shadow: inset 0 -1px 5px 0 rgba(73, 71, 71, 0.2);
    box-sizing: border-box;
    text-shadow: none;
    border: none;
}

.todolist {
    margin: auto;
    padding: 0;
}

.listodo {
    padding: 16px 16px 16px 60px;
    position: relative;
    flex: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    width: 100%;
    color: silver;
    box-shadow: inset 0 -1px 5px 0 rgba(73, 71, 71, 0.2);
    box-sizing: border-box;
    text-shadow: none;
    border: none;
    list-style: none;
}

.todospaced {
    position: relative;
    margin-left: 440px;
    display: none;
    height: 100%;
}

.listodo:hover .todospaced {
    display: block;
  }

  .checkitem {
      max-width: 12px;
      text-decoration: line-through;
}
  
.closeitem {
  cursor: pointer;
}

.checkitem:checked + label {
    text-decoration: line-through;
  }

.logo {
    margin-left: 200px;
    margin-bottom: 24px;
}

.btn {
    padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
    opacity: 1;
  }

  .message {
    padding: 8px 24px;
    background-color: #86cee0;
    cursor: pointer;
    box-shadow: 0 6px #198ccf;
  }
  
  .message:active {
    position: relative;
    top: 6px;
    box-shadow: none;
  }

.line {
    padding-bottom: 20px;
}

.filter-buttons {
    margin-left: 110px;
  }
  
  .filter-buttons button {
    padding: 6px 18px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 24px;
    margin-bottom: 12px;
    
  }
  
  .filter-buttons .selected {
    border: solid 1px rgba(0, 0, 0, 0.12);
  }
  
  .invisible {
    display: none;
  }